
@{
    ViewData["Title"] = "TestGmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TestGmail</h1>
<p>@ViewBag.Message</p>
<p>Email: @ViewBag.Email</p>
<p>Token: @ViewBag.Token</p>
<p>Result: @ViewBag.Result</p>

