@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DanTech.Data.Models.DTViewModel
<h3>To Do List</h3>
@if (Model.PlanItems.Count > 0)
{
                    <datalist></datalist>
}
else
{
                    <h4>List is clear</h4>
}
